beautifulsoup4==4.12.2
bitsandbytes
datasets
dateparser==1.1.8
db==0.1.1
deepspeed
finnhub_python==2.4.18
huggingface_hub
ib_insync==0.9.86
jsonargparse==4.22.0
langchain==0.0.262
lightning
llama_index==0.8.0
matplotlib==3.7.1
nltk==3.8.1
numpy==1.24.3
pandas==1.5.3
peft
pytest==7.3.1
python_dateutil==2.8.2
PyYAML
Requests==2.31.0
streamlit
scikit_learn==1.2.2
sentencepiece==0.1.99
setuptools==66.0.0
SQLAlchemy==2.0.16
torch
tqdm==4.65.0
trafilatura==1.6.1
transformers
triton==2.0.0
typing_extensions==4.7.1
yfinance
zstandard==0.21.0
sphinx-rtd-theme
atradebot @ git+https://github.com/Andrechang/Atradebot@main