/* .background {
    background-color: #ffffff;
    height: 1084px;
    width: 1920px;
  }
  
  .background .div {
    height: 1084px;
  }
  
  .background .one {
    background: linear-gradient(180deg, rgb(0, 101, 194) 0%, rgb(134.94, 233.39, 255) 100%);
  }
  
  .background .three {
    background: linear-gradient(180deg, rgb(0, 31.78, 61.62) 0%, rgb(0, 101, 194) 100%);
  }
  
  .background .variant-3 {
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(0, 32, 62) 100%);
  }
  
  .background .variant-4 {
    background: linear-gradient(180deg, rgb(135, 233, 255) 0%, rgb(0, 0, 0) 100%);
  }
   */

.body {
  background-color: rgba(0, 101, 194, 1);
  /* clip-path: polygon(50% 0%, 100% 0, 100% 74%, 75% 100%, 25% 100%, 0 75%, 0 0); */
  clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  height: 800px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.home-h2 {
  margin-top: 50px;
  font-size: 40px;
  margin-bottom: 15px;
}

.home-h1 {
  font-size: 55px;
  margin-bottom: 10px;

}

.home-h31 {
  font-size: 18px;
}

.home-h32 {
  font-size:18px;
  margin-top: -20px;
}
.home-btn1{
  width: 320px;
  height: 60px;
  background-color: #ffffff;
  color: rgba(0, 50, 96, 1);
  font-size: 22px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.home-btn1:hover{
  background-color: rgba(228, 49, 156, 1);
  color: rgba(255, 255, 255, 1);
}
.home-btn2{
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.home-btn2:hover{
  border-bottom:2px solid #ffffff;
}