
.carousel{
    /* background: url("https://media.istockphoto.com/id/1062261710/photo/light-blue-studio-space-with-window-shadow.webp?b=1&s=170667a&w=0&k=20&c=QsmdqQKIw6XCjD5BkhPk9tFHJSIelM6ia0c_1oNX5Jo="); */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);

}
.sliderimg{
    height: 600px;
    width: 600px;
    float: right;
}
.caption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 70px;
}
.sliderheader{
    font-size: 50px;
    color: burlywood;
    margin-bottom: 10px;
}
.sliderpara{
    width: 60%;
    font-size: 25px;
    color: cadetblue;
}
.sliderbutton{
    text-decoration: none;
    border-bottom: 2px solid white;
    font-size: 25px;
    color: burlywood;
}
.sliderbutton:hover{
    color: grey;
    background-color: white;
}